.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

:root {
    --color-dark: hsl(0, 0%, 16%);
    --color-light: hsl(30, 53%, 94%);
    --color-red: hsl(6, 99%, 66%);
    --color-green: hsl(151, 77%, 85%);
    --color-yellow: hsl(53, 85%, 69%);

    --light-pink: #fff0f0;
    --pink: #ffe9e9;
    --dark-pink: #f9c4d2;
    --pink-border: #b18597;
    --pink-shadow: #ffe3e2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: var(--color-light);
    font-family: 'Rubik', sans-serif;
}

canvas {
    border: 1px solid var(--color-dark);
}

.canvas-container {
    display: flex;
    justify-content: center;
}

.canvas-control-container {
    display: flex;
    justify-content: center;
}

.type-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: 600;
    color: var(--color-dark);
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: var(--light-pink);
    border: 2px solid var(--pink-border);
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background-color 150ms cubic-bezier(0, 0, 0.58, 1);
}

.type-button::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--dark-pink);
    border-radius: inherit;
    box-shadow: 0 0 0 2px var(--pink-border), 0 0.625em 0 0 var(--pink-shadow);
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.type-button:hover {
    background: var(--pink);
    transform: translate(0, 0.25em);
}

.type-button:hover::before {
    box-shadow: 0 0 0 2px var(--pink-border), 0 0.5em 0 0 var(--pink-shadow);
    transform: translate3d(0, 0.5em, -1em);
}

.type-button.active {
    background: var(--pink);
    transform: translate(0em, 0.75em);
}

.type-button.active::before {
    box-shadow: 0 0 0 2px var(--pink-border), 0 0 var(--pink-shadow);
    transform: translate3d(0, 0, -1em);
}
