#context_menu {
    position: fixed;
    z-index: 10000;
    border-radius: 5px;
    display: none;
}

#context_menu.visible {
    display: block;
}


.container {
    max-width: 90%;
    margin: 0 auto;
}

.breadcrumbs-container {
    margin: 5em 0 2.5em 0;
}

.breadcrumbs-container a {
    font-size: 1.25em;
    text-decoration: none;
    color: var(--color-dark-400);
    margin: 0 .5em;
    cursor: pointer;
    user-select: none;
}

#edit_container {
    flex-grow: 2;
    transition: all .2s ease-in-out;
}

.edit-container {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    min-height: 75vh;
}

.edit-container label,
.edit-container p {
    margin-bottom: 1em;
    font-size: 1.25em;
    user-select: none;
}

.edit-container textarea {
    width: 100%;
    padding: 0;
    background-color: transparent;
    border-width: 0px 0px 3px 0;
    border-style: solid;
    border-color: var(--color-dark-400);
    border-radius: 5px 5px 0 0;
    font-family: inherit;
    font-size: 3em;
    transition: all .25s ease-out;
    resize: none;
    overflow: hidden;
}

.edit-container textarea.medium {
    font-size: 1.5em;
}

.edit-container textarea:focus {
    outline: none;
    border-color: var(--color-blue-400);
}

.breadcrumbs-container a.active {
    text-shadow: 0px 0px 1px var(--color-dark-400);
}

.navigation-container {
    display: flex;
    justify-content: space-between;
}

.edit-recipe-image-container {
    margin: 0 1em;
    user-select: none;
}

.edit-recipe-image-container img {
    width: 75%;
    margin: .25em 0;
}

#recipe_image_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 3px solid var(--color-dark-400);
    border-radius: 5px;
}

.recipe_image_switcher {
    margin-bottom: 1em;
}

.edit-container input {
    width: 100%;
    margin: .25em 0;
    padding: 1em;
    background-color: rgba(0, 0, 0, .1);
    border: none;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1.1em;
    caret-color: var(--color-blue-400);
    transition: all .1s ease-out;
}

.edit-container input:focus {
    outline: none;
    border-width: 0px 0px 3px 0;
    border-style: solid;
    border-color: var(--color-blue-400);
}

.ingredient-input-container {
    position: relative;
}

.add-ingredient-container {
    display: flex;
    align-items: center;
    margin: .25em 0;
    cursor: pointer;
    transition: all .2s ease-out;
}

.add-ingredient-container span {
    margin-right: .2em;
}

.add-ingredient-container:hover {
    color: var(--color-blue-400);
}

.ingredient-delete-container {
    position: absolute;
    bottom: .25em;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    height: calc(100% - .5em);
    border-radius: 5px;
    background-color: var(--color-red-200);
    cursor: pointer;
    user-select: none;
    opacity: .5;
    transition: all .25s ease-out;
}

.ingredient-delete-container:hover {
    opacity: 1;
    background-color: var(--color-red-300);
}

.ingredient-delete-container:active {
    background-color: var(--color-red-400);
}