.container {
    max-width: 90%;
    margin: 0 auto;
}

.breadcrumbs-container {
    margin: 5em 0 2.5em 0;
}

.breadcrumbs-container a {
    font-size: 1.25em;
    text-decoration: none;
    color: var(--color-dark-400);
    margin: 0 .5em;
    cursor: pointer;
}

.edit-container {
    display: flex;
    justify-content: center;
    min-height: 75vh;
}

.edit-container label {
    font-size: 1.25em;
}

.edit-container input {
    width: 100%;
    padding: .1em;
    background-color: transparent;
    border-width: 0px 0px 3px 0;
    border-style: solid;
    border-color: var(--color-dark-400);
    border-radius: 5px 5px 0 0;
    font-size: 3em;
    transition: all .25s ease-out;
}

.edit-container input:focus {
    outline: none;
    border-color: var(--color-blue-400);
}


.edit-container input::selection {
    background-color: var(--color-blue-100);
}


.breadcrumbs-container a.active {
    text-shadow: 0px 0px 1px var(--color-dark-400);
}

.navigation-container {
    display: flex;
    justify-content: space-between;
}

.edit-recipe-image-container {
    max-width: 50%;
    margin: 0 1em;
}

#editRecipeImage {
    max-width: 50%;
}